.button {
    &__href-style {
        text-decoration: none;
        color: black;
    }
    &__butons {
        height: 30px;
        width: auto;
        border-radius: 4px;
        cursor: pointer;
    }
}