.button {
    &__href-style {
        text-decoration: none !important;
        color: white;
    }
    &__butons {
        margin-right: 10px;
        height: 38px;
        width: auto;
        border-radius: 4px;
        cursor: pointer;
    }
}