.navbar {
    background-color: whitesmoke;
    color: black;
    position: sticky !important;
    z-index: 100 !important;
    top: 0;
    height: 50px;
    border-bottom: solid 1px black;
    &__config-bar {
        display: flex;
        align-items: center;
    }
    &__config-section {
        align-self: center;
        padding-right: 10px;
    }
    &__confi-icon {
        padding-left: 20px;
        padding-right: 30px;
        font-size: 30px;
        font-weight: 600;
    }
    a.button__href-style {
        color: white;
    }
}