.box {
    &__wrapper-box {
        display: flex;
    }
    &__box {
        overflow-y: scroll;
        border: solid black 1px;
        width: 600px;
        height: 150px;
        margin: 30px;
        padding: 10px;
        border-radius: 6px;
    }
    &__p {
        padding: 10px;
    }
    &__title {
        margin: 30px;
    }
}