.input {
    display: grid;
    align-items: center;
    &__field {
        border-radius: 4px;
        margin-left: 4px;
        height: 30px;
        border: solid gray 0.5px;
        &--error {
            border: solid 2px red;
        }
    }
    &__label {
        margin-bottom: 5px;
    }
    &__error {
        color: red;
        font-size: 14px;
    }
}