.drop-down {
    display: grid;
    align-items: center;
    &__error {
        color: red;
        font-size: 14px;
    }
}

.css-2b097c-container {
    width: 300px;
    height: auto;
    .css-yk16xz-control {
        border: solid gray 0.5px;
    }
    .css-26l3qy-menu {
        height: 30px;
    }
}