.drop-down {
    display: grid;
    align-items: center;
}

.go3433208811.dropdown-container {
    width: 200px;
    border-radius: 4px;
    height: 30px;
    border: solid 1.5px;
    margin-left: 4px;
}

.go4079732705 .gray {
    align-self: self-start;
}

.dropdown-heading-value {
    margin-top: 10px;
}

.panel-content {
    min-height: 200px;
}